<ion-header>
  <ion-navbar>
    <ion-title>
      
      <div class="mtitle">
        <p>طلبات الحجي </p>
      <ion-icon name="md-basket"></ion-icon>
      </div>

     <div class="panel">

      <ion-icon name="log-out" (click)="logout()" ></ion-icon>
      <ion-icon name="md-list" (click)="adminlogin()" *ngIf="admin"></ion-icon>

     </div>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

    <ion-card *ngFor="let item of list | async">
        <img [src]="item.image" height="250" />
        <ion-card-content>
          <ion-card-title>
            <h3>
              {{item.name}}
            </h3>
      
            </ion-card-title>
          <p>
           {{item.des}}
          </p>
        </ion-card-content>
        
        <ion-item>

            <div class="select">

                <div class="price">
                  {{item.price}}
                  <i class="fa fa-money" aria-hidden="true"></i>
                </div>
      
                <div class="get" >
                 
                  <span (click)="request(item.name,item.des,item.price)">
                      طلب
                      <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                  </span>
      
                </div>
      
              </div>

        </ion-item>

      </ion-card>

</ion-content>
